global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s


scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 30s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'jenkins'
    scrape_interval: 30s
    scrape_timeout: 10s
    metrics_path: "/prometheus/"
    scheme: http
    static_configs:
      - targets: ['jenkins:8080']