networks:
  devops:
    driver: bridge

services:
  docker:
    image: docker:dind
    container_name: jenkins-docker
    restart: unless-stopped
    privileged: true
    networks:
      devops:
        aliases:
          - docker
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - ./docker/jenkins/jenkins-docker-certs:/certs/client
      - ./docker/jenkins/jenkins-data:/var/jenkins_home
      - ../:/workspace # for local test only
    ports:
      - "2376:2376"
    command: --storage-driver overlay2

  jenkins:
    build: ./docker/jenkins
    container_name: jenkins
    restart: unless-stopped
    networks:
      - devops
    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1
    volumes:
      - ./docker/jenkins/jenkins-data:/var/jenkins_home
      - ./docker/jenkins/jenkins-docker-certs:/certs/client:ro
      - /var/run/docker.sock:/var/run/docker.sock 
      - ../:/workspace
    ports:
      - "8080:8080"
      - "50000:50000"
    depends_on:
      - docker

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    networks:
      - devops
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./docker/grafana/grafana_data:/var/lib/grafana
      - ./docker/grafana/datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
    depends_on:
      - prometheus

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    networks:
      - devops
    ports:
      - "9090:9090"
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./docker/prometheus/prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
  
  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    restart: unless-stopped
    ports:
      - "9000:9000"
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://sonarqube-db:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD=sonar
    volumes:
      - ./docker/sonar/sonarqube_data:/opt/sonarqube/data
      - ./docker/sonar/sonarqube_logs:/opt/sonarqube/logs
      - ./docker/sonar/sonarqube_extensions:/opt/sonarqube/extensions
    depends_on:
      sonarqube-db:
        condition: service_healthy

  # PostgreSQL Database for SonarQube
  sonarqube-db:
    image: postgres:17
    container_name: sonarqube-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
      - POSTGRES_DB=sonar
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U sonar"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

volumes:
  postgresql_data:
    driver: local
      